# Build files
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
PythonLauncher
PythonLauncher_autogen/
*.o
*.a
*.so

# IDE / Editor config
*.user
.vscode/
.idea/
.DS_Store

# User data & logs
*.log
apps.json
